
/* Fixed Full-View Background Image */
body {
    margin: 0;
    padding: 0;
    background-image: url('../img/bg-plain.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;        
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;  
    display:flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}


/* Color Scheme: Teal and Grey */
:root {
--teal: #008080;
--grey: #808080;
--light-grey: #f1f1f1;
}
  
 /* Material Design Cards */
 .card {
    background-color: rgba(0, 128, 128, 0.2);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    margin: 20px;
    padding: 20px;
    width: calc(100% - 40px);
    box-sizing: border-box;
    font-size: 18px; /* Increased Font Size */
    line-height: 1.6; /* Improved Line Height */    
  }

  
  
  /* Adjustments Based on Viewport */
@media only screen and (min-width: 1024px) {
    main {
      width: calc(75% - 40px);  /* 20px margin on each side */
    }

}
  
@media only screen and (min-width: 1440px) {
    main {        
        width: calc(75% - 40px);  /* 20px margin on each side */
    }    
}

.logo {    
    width: 40%;
    height: auto;
    position: fixed;
    left: -5%;
    top: 30%;
    z-index: -1; 
  }
  /* Media Query for smaller screens */
@media only screen and (max-width: 1024px) {
    .logo {
      position: static; /* Logo scrolls with the content */
      width: 100%;
      display: block;
      margin: 0 auto; /* Center the logo */
    }
  }
  
/* Form Elements */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
textarea,
select {
  width: calc(100% - 40px);
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid var(--grey);
  border-radius: 8px;
  background-color: rgba(255,255,255,0.6);
  font-size: 16px;  /* Increased Font Size */
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
  
/* input style, background colour should be semi transparent*/
input[type="submit"], .cta-button {
    background-color: var(--teal);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 14px 20px;
    transition: background-color 0.3s ease, filter 0.3s ease; /* Added filter for hover effect */
}

input[type="submit"]:hover, .cta-button:hover {
    filter: brightness(85%); /* Darkens the button on hover */
}

::placeholder {
    color: var(--grey); /* Using the CSS variable for consistency */
    opacity: 0.7; /* Lighter placeholder text */
}

input:focus, textarea:focus {
    border-color: var(--teal);
    box-shadow: 0 0 5px rgba(0, 128, 128, 0.7); /* Slightly more pronounced focus shadow */
}



/* Footer and Social Links */
footer {
    padding: 20px;
    flex: none;
    width: 100%;
    background-color: var(--grey);  /* Using the grey color you defined in your CSS root */
    text-align: center;
    
}

.social-links a {
    margin: 0 10px;
    color: white;  /* Sets the icon color to white */
    font-weight: 700;
    font-size: 24px;  /* Icon size */
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-links a:hover {
    color: var(--teal);  /* Using the teal color you defined in your CSS root */
    transform: scale(1.1); /* Slightly larger icon on hover */
}


/* Testimonials Section Styling */

.testimonial {
    margin: 40px 0;
    background-color: #ffffff; /* Set the individual testimonial background to white */
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.quote {
    position: relative;
    font-style: italic;
    font-size: 24px;
    line-height: 1.6;
    
    /* Stylized Quotation Marks */
   
}

cite {
    display: block;
    margin-top: 20px;
    margin-right: 10px;
    font-size: 18px;
    text-align: right;
    color: var(--teal); /* Ensure this variable is defined in your main CSS */
}