
/* Fixed Full-View Background Image */
body {
    margin: 0;
    padding: 0;
    background-image: url('../img/bg-plain.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;        
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;  
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}


/* Color Scheme: Teal and Grey */
:root {
--teal: #008080;
--grey: #808080;
--light-grey: #f1f1f1;
}
  
 /* Material Design Cards */
 .card {
    background-color: rgba(0, 128, 128, 0.2);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    margin: 20px;
    padding: 20px;
    width: calc(100% - 40px);
    box-sizing: border-box;
    font-size: 18px; /* Increased Font Size */
    line-height: 1.6; /* Improved Line Height */
    font-family: 'Arial', sans-serif; /* Readable Font Family */    
  }

  
  
  /* Adjustments Based on Viewport */
@media only screen and (min-width: 768px) {
    main {
      width: calc(75% - 40px);  /* 20px margin on each side */
    }

}
  
@media only screen and (min-width: 1024px) {
    main {        
        width: calc(50% - 40px);  /* 20px margin on each side */
    }    
}

.logo {    
    width: 30%;
    height: auto;
    position: fixed;
    left: 0;
    top: 30%;
    z-index: 1000; 
  }
  /* Media Query for smaller screens */
@media only screen and (max-width: 767px) {
    .logo {
      position: static; /* Logo scrolls with the content */
      width: 100%;
      display: block;
      margin: 0 auto; /* Center the logo */
    }
  }
  
/* Form Elements */
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
  width: calc(100% - 40px);
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid var(--grey);
  border-radius: 8px;
  background-color: var(--light-grey);
  font-size: 16px;  /* Increased Font Size */
}
  
/* input style, background colour should be semi transparent*/
input[type="submit"] {
    background-color: var(--teal);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 14px 20px;
}
  
input[type="submit"]:hover {
    background-color: darken(var(--teal), 10%);
}